.home {
  width: 70%;
  margin: 0 auto;
  margin-block: 3rem;
}

.header {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.upload {
  width: 100%;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
}

.upload-info {
  padding: 1rem;
  overflow: hidden;
}

.upload-info p {
  width: 92%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.upload-info h1 {
  margin-top: 8rem;
  line-height: 1.2;
}

.subheading {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.avatar {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.avatar p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar span {
  font-size: 0.9rem;
  color: #fff;
}

.avatar_img {
  border-radius: 0.5rem;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid #f89b29;
  cursor: pointer;
}

.profile {
  border-radius: 1rem;
  background: #1a1a1a70;
  display: grid;
  place-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111111;
  width: 100%;
  height: 100%;
}

.loader {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1ad2;
  z-index: 11111;
}

.form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a1a1ad2;
  z-index: 11111;
}

.form_inner {
  width: 40%;
  padding-top: 1rem;
  margin: 0 auto;
}

@media screen and (max-width: 55rem) {
  .card {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .upload {
    grid-template-columns: 1fr;
    justify-content: center;
    place-items: center;
    padding: 1rem;
    gap: 1rem;
  }
  .upload-info {
    padding: 1rem;
    width: 100%;
  }
  .upload-info h1 {
    margin-top: 0;
    font-size: 1.3rem;
    line-height: 1.2;
  }
  .upload-info p {
    width: 100%;
    font-size: 0.9rem;
  }
  .form_inner {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 45rem) {
  .home {
    width: 90%;
  }
  .header h1 {
    font-size: 1.5rem;
  }
  .upload {
    grid-template-columns: 1fr;
    justify-content: center;
    place-items: center;
    padding: 1rem;
    gap: 1rem;
  }
  .upload-info {
    padding: 1rem;
    width: 100%;
  }
  .upload-info h1 {
    margin-top: 0;
    font-size: 1.1rem;
    line-height: 1.2;
  }
  .upload-info p {
    width: 100%;
    font-size: 0.85rem;
  }
  .card {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .subheading {
    font-size: 1.3rem;
  }
  .form_inner {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 35rem) {
  .home {
    width: 95%;
  }
  .header h1 {
    font-size: 1.3rem;
  }
  .upload {
    grid-template-columns: 1fr;
    justify-content: center;
    place-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .upload-info {
    padding: 0.5rem;
    width: 100%;
  }
  .upload-info h1 {
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.2;
  }
  .upload-info p {
    width: 100%;
    font-size: 0.8rem;
  }
  .card {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .subheading {
    font-size: 1.1rem;
  }
  .form_inner {
    width: 100%;
    padding: 0;
  }
}
